<<<<<<< HEAD

  .small-eye-button ion-icon {
    font-size: 20px; 
  }

  ion-header {
    --background: var(--ion-color-primary); 
  }
  
  ion-toolbar {
    --background: var(--ion-color-primary); 
  }
  
  ion-title {
    color: #ffffff; 
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 600;
  }

  .text-gris {
    color: #787373; /* Gris Medio */
  }
=======
.centered-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
>>>>>>> f81d795ff7d03066083a8a11a75abb53218a9ef0
