<ion-header >
  <ion-toolbar>
      <ion-title >Inicia Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <ion-card>
    <ion-card-content>

    <ion-input [(ngModel)]="email" type="email" fill="solid" label="Email" labelPlacement="stacked" placeholder="Miau@gmail.com"  errorText="Correo inválido">
    </ion-input>

    <ion-input [(ngModel)]="password" [type]="tipoContrasenia" name="password"  fill="solid" label="Contraseña" labelPlacement="floating">
      <ion-button fill="clear" slot="end" (click)="mostrarClave()" class="small-eye-button">
          <ion-icon slot="icon-only" [name]="iconoContrasenia" aria-hidden="true"></ion-icon>
      </ion-button>
  </ion-input>
  <ion-item lines="none">
    <div style="text-align: center; margin-top: 10px;">
      <a [routerLink]="['/forgot-password']" style="color: var(--ion-color-primary); text-decoration: none;">
        Olvidaste tu contraseña?
      </a>
    </div>
  </ion-item>
<br>

    <ion-button (click)="login()" expand="full" shape="round">Iniciar Sesión</ion-button>
   
  </ion-card-content>

  </ion-card>

  <div align="center">
    <p>
      <span class="text-gris">No tienes cuenta, Regístrate     </span > 
       
      <a routerLink="/registro" class="text-pink">AQUÍ</a>
    </p>
  </div>
  
</ion-content>
