<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <ion-title>Ingresar</ion-title>
      <ion-button fill="outline">Volver</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-input type="email" fill="solid" label="Correo electrónico" labelPlacement="floating" helperText="Ingrese su correo electrónico" errorText="Correo inválido"
        ngModel email></ion-input>

    <ion-input type="password" fill="solid" label="Password" labelPlacement="floating" helperText="Ingrese su contraseña"></ion-input>

    <ion-button expand="full" shape="round">Ingresar</ion-button>
  </ion-card>
  <div class="centered-container">
    <p>¿No tienes cuenta?, ¡regístrate!</p>
    <ion-button id="register-button">Registrarse</ion-button>
    <ion-alert trigger="register-button" header="Por favor, ingresa tu información" [buttons]="botonRegistrar" [inputs]="registrarse"></ion-alert>

    <p>¿Olvidaste tu contraseña?</p>
    <ion-button id="recover-button">Recuperar contraseña</ion-button>
    <ion-alert trigger="recover-button" header="Recuperar contraseña" [buttons]="botonRecuperar" [inputs]="recuperar"></ion-alert>
    <ion-alert trigger="botonRecuperar">Correo enviado</ion-alert>
</div>
  
</ion-content>
